flask==0.10.1
flask-moment==0.5.1 
flask-script==2.0.5
jinja2==2.8
lxml==3.6.0
matplotlib==1.4.3
datetime
requests==2.10.0
pandas==0.18.1
pandas-datareader==0.2.1
numpy==1.9.2 
beautifulsoup4==4.4.1 
scipy==0.16.1
joblib